/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), url(./assets/fonts/poppins/Poppins-Regular.ttf) format("truetype");
}

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
